<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Chandler Bing Sarcastic Comments.</h1></div>
    </div>
    <div class="content">
        {%for i in range(length):%}
            <div class="card">
                <h2>Comment #{{sarcasm[i]["sno"]}}</h2>
                <p class="text">{{sarcasm[i]["sarcasm"]}}</p>
                <a href="{{url_for('get_sarcasm', sno=i)}}">Read</a>
            </div>
        {% endfor %}
    </div>
</div>
</body>
<footer>
    <p>© {{year}} API by Harshit.</p>
</footer>
</html>